body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #888;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

.cart {
    font-size: 1.2rem;
    cursor: pointer;
}

.product-list {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

.product img:hover {
    transition: 2.5;
    scale: 1.5;
}

.product {
    text-align: center;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
    width: 200px;
}

.product img {
    width: 100%;
    height: auto;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}